APP_ENV=dev
HTTP_ADDR=:8080
DATABASE_DRIVER=postgres
DATABASE_DSN=host=127.0.0.1 port=5432 user=postgres password=postgres dbname=release_platform sslmode=disable
REDIS_ADDR=127.0.0.1:6379
REDIS_PASSWORD=
REDIS_DB=0
STORAGE_ROOT=./data
QUEUE_NAME=release_scan
SCAN_MODE=async
